{% extends 'MainBundle::base.html.twig' %}

{% block title %}New password{% endblock %}

{% block yeld %}
    <!-- container -->
<div class="container">
    <h2 class="text-center cf inner-tb outer-btm-none">New password</h2>
    <h3 class="text-center">
        <small>
            Please add the new password
        </small>
    </h3>
    <div class="form-signin clearfix">
        <form action="{{ path('auth_forgot_password_reset', {token: token}) }}" method="post" novalidate autocomplete="off">

            {{ form_widget(form) }}
                    <button class="btn blue-btn pull-right outer-top-none" type="submit">Send</button>
              <div class="clear"></div>
            </div>
        </form>
    </div><!-- /form-box-->
</div>
{% endblock %}