{% extends '::base.html.twig' %}

{% block title %}My cool blog posts{% endblock %}

{% block yeld %}

    <h3>Imager Will Be here</h3>

    <div class="privcy_class">
        <img src="/uploadedImages/84/large/84-1369901771-snapshot86.png" />
    </div>

{% endblock %}