{% extends 'CoreBundle:Emails:mail.base.html.twig' %}

{% block yeld %}
    Please use this link to recover your password:
    <u><a href="{{ url('auth_forgot_password_reset', {'token': token}) }}" >Link</a></u>
    <br><br>
{% endblock %}