{% extends '::base.html.twig' %}

{% block yeld %}
    <section class="static-push-top-inner">
        <!-- container -->
        <div class="container">
            <p>Oops.. {{ status_code }} - {{ status_text }}</p>
        </div>
        <!--/ container -->
        <br/>
    </section>
{% endblock %}
