{% extends '::base.html.twig' %}

{% block title %} FAQ {% endblock %}

{% block yeld %}
    <!-- intro -->
    <section class="static-push-top-inner">
        <!-- container -->
        <div class="container">
            <article class="text-left title">
                <h2 class="text-blue">FAQ</h2>
                <div class="clear"></div>
                <hr class="divider" />
                <div class="clear"></div>
            </article>
        </div>
        <!--/ container -->
    </section>
    <!--/ intro -->

    <div class="clear"></div>

    <!-- grey-block -->
    <article class="inner-b global-push-btm-outer">
        <!-- container -->
        <div class="container">
            <!-- collapsible -->
            <div class="collapsible">
                <dl>
                    <!-- row -->
                    <dt>
                    <h4>Do I have to purchase Glass if I get an invitation to be a Glass Explorer?</h4>
                    </dt>
                    <dd>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </dd>
                    <!--/ row -->

                    <!-- row -->
                    <dt>
                    <h4>How old do I have to be?</h4>
                    </dt>
                    <dd>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </dd>
                    <!--/ row -->

                    <!-- row -->
                    <dt>
                    <h4>When and how will I find out if I've been selected to receive an invitation?</h4>
                    </dt>
                    <dd>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </dd>
                    <!--/ row -->

                    <!-- row -->
                    <dt>
                    <h4>What if I'm invited but can't come in to pick it up? Can I still get Glass?</h4>
                    </dt>
                    <dd>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </dd>
                    <!--/ row -->

                    <!-- row -->
                    <dt>
                    <h4>If I receive two invitations, can I give one to a friend?</h4>
                    </dt>
                    <dd>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </dd>
                    <!--/ row -->

                    <!-- row -->
                    <dt>
                    <h4>If I receive two invitations, can I give one to a friend?</h4>
                    </dt>
                    <dd>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </dd>
                    <!--/ row -->
                </dl>
            </div>
            <!--/ collapsible -->
        </div>
        <!--/ container -->


    </article>
    <!--/ grey-block -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/main/js/faq/index.js') }}" ></script>
{% endblock %}