{% extends '::base.html.twig' %}

{% block yeld %}
    <section class="static-push-top-inner">
        <!-- container -->
        <div class="container">
            <h1>Maintenance mode</h1>
        </div>
        <!--/ container -->
        <br/>
    </section>

{% endblock %}

{% block footer_menu %}{% endblock %}
{% block header_menu %}{% endblock %}