{% extends '::base.html.twig' %}

{% block title %} How it works {% endblock %}

{% block yeld %}
    <!-- intro -->
    <section class="static-push-top-inner">
        <!-- container -->
        <div class="container">
            <article class="text-left title">
                <h2 class="text-blue">How it works</h2>
                <div class="clear"></div>
                <hr class="divider" />
                <div class="clear"></div>
            </article>
        </div>
        <!--/ container -->
    </section>
    <!--/ intro -->

    <div class="clear"></div>

    <!-- featured -->
    <section class="featured prel clearfix">

        <!-- video-intro-holder -->
        <div class="video-intro-holder centric">
            <div class="video_block">
                <div class="vendor">
                    <iframe src="http://player.vimeo.com/video/25708134?title=0&amp;byline=0&amp;portrait=0" width="524" height="299" frameborder="0"></iframe>
                </div>
            </div><!-- /video_block-->
        </div>
        <!--/ video-intro-holder -->
        <div class="clear"></div>
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- span3 -->
                <div class="span3 text-center">
                    <h4>Find an Expert</h4>
                    <p>
                        Browse for real professionals in the industry and at the job level you want.
                        Schedule a time that works for you.
                    </p>
                </div>
                <!--/ span3 -->

                <!-- span3 -->
                <div class="span3 text-center">
                    <h4>Webcam Session</h4>
                    <p>
                        Do a live webcam mock interview and get priceless feedback that you can use
                        in your real interview.
                    </p><br />
                </div>
                <!--/ span3 -->

                <!-- span3 -->
                <div class="span3 text-center">
                    <h4>Expert Feedback</h4>
                    <p>
                        Enter the room as prepared as you possibly can be to maximize your chances
                        to get the job you want.
                    </p>
                </div>
                <!--/ span3 -->
            </div>
            <!--/ row -->

            <div class="clear"></div>
            <hr class="divider" />
            <div class="clear"></div>

            <div class="clearfix top-priority inner-b">
                <div class="span3"><img src="{{ asset('img/guaranteed.png') }}" alt="Guaranteed" /></div>
                <!-- span8 -->
                <div class="span8">
                    <h2 class="text-blue cf">The Sharpen Guarantee</h2>
                    <p>
                        Every one of our Experts is a verified LinkedIn member, and you can browse their profiles
                        for verification.  If for any reason you're not satisfied with your session, we offer a 100% money back guarantee.
                    </p>
                </div>
                <!--/ span8 -->
            </div>

        </div>
        <!--/ container -->
    </section>
    <!--/ featured -->

    <div class="clear"></div>

    <!-- grey-block -->
    <article class="grey-block inner-tb">
        <!-- container -->
        <div class="container">

            <!-- inner-block -->
            <div class="inner-block">
                <h4 class="text-blue"><strong>Benefits for job applicants</strong></h4>

                <h4>Get the kind of questions you can expect during your real interview</h4>
                <p>
                    By choosing Experts from your own industry, you will be tested on the knowledge that is specific to your industry, job function and level of responsibility.
                </p>
            </div>
            <!--/ inner-block -->

            <!-- inner-block -->
            <div class="inner-block">
                <h4>Get video feedback after your interview is over</h4>
                <p>
                    Unlike a real interview, where you never find out how you really came across, your session's expert will give you detailed, video feedback
                </p>
            </div>
            <!--/ inner-block -->

            <!-- inner-block -->
            <div class="inner-block">
                <h4>Keep preparing until you feel you're ready for your big interview</h4>
                <p>
                    If you like, you can do more sessions, incorporating the feedback from your Expert into each new session until you feel that you've prepared as much as you can.
                </p>
            </div>
            <!--/ inner-block -->
        </div>
        <!--/ container -->

        <hr class="std" />

        <!-- container -->
        <div class="container">

            <!-- inner-block -->
            <div class="inner-block">
                <h4 class="text-blue"><strong>Benefits for Experts</strong></h4>

                <h4>Get the kind of questions you can expect during your real interview</h4>
                <p>
                    By choosing Experts from your own industry, you will be tested on the knowledge that is specific to your industry, job function and level of responsibility.
                </p>
            </div>
            <!--/ inner-block -->


            <!-- inner-block -->
            <div class="inner-block">
                <h4>Get video feedback after your interview is over</h4>
                <p>
                    Unlike a real interview, where you never find out how you really came across, your session expert will give you detailed, video feedback
                </p>
            </div>
            <!--/ inner-block -->


            <!-- inner-block -->
            <div class="inner-block">
                <h4>Keep preparing until you feel you're ready for your big interview</h4>
                <p>
                    If you like, you can do more sessions, incorporating the feedback from your Expert into each new session until you feel that you've prepared as much as you can
                </p>
            </div>
            <!--/ inner-block -->
        </div>
        <!--/ container -->
    </article>
    <!--/ grey-block -->
{% endblock %}
